.jumbotron {
	opacity: 0.93;
}

#notranji {
	opacity: 0.70;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
	margin-bottom: 30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
  	display: compact;
	
}

.glavniBody { background-image: url("wallpaper6.jpg");}
.loginBody { background-image: url("wallpaper1.jpg");}
.mydataBody { background-image: url("wallpaper5.jpg");}
.editBody { background-image: url("wallpaper3.jpg");}
.analyseBody { background-image: url("wallpaper4.jpg");}



#map-canvas { 
	height:	500px;
	width: 100%;
	margin: 0;
	padding: 0;
}

html, body, .row, #mapa,.container{ height: 100% }

#graf {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}