.jumbotron {
	opacity: 0.93;
}

#notranji {
	opacity: 0.70;
}

body {
	margin-bottom: 30px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 	background-repeat: no-repeat;
  	background-attachment: fixed;
  	display: compact;
	
}

.glavniBody { background-image: url("wallpaper6.jpg") no-repeat center center fixed;}
.loginBody { background-image: url("wallpaper1.jpg") no-repeat center center fixed;}
.mydataBody { background-image: url("wallpaper2.jpg") no-repeat center center fixed;}
.editBody { background-image: url("wallpaper3.jpg") no-repeat center center fixed;}
.analyseBody { background-image: url("wallpaper4.jpg") no-repeat center center fixed;}



#map-canvas { 
	height:	500px;
	width: 100%;
	margin: 0;
	padding: 0;
}

html, body, .row, #mapa,.container{ height: 100% }